:root {
    --primary-color:#114647;
    --secondary-color:#e3ee1b;
    --teritary--color:#968436;
    --background-color:#fafafa;
    --grey-color: #d8d8d8;
    --white-color: #FAFCFE;
    --bold-grey-color: #777777;
    --red-color: #c90927;
    --black-color: #000000;
    --shadow: 2px 2px 3px 2px rgba(21, 20, 20, 0.15);
    --slight-border: 1px solid #ced4da;
    --primary-border: 1px solid var(--primary-color);
    --secondary-border: 1px solid var(--secondary-color);
    --red-border: 2px solid var(--red-color)!important;
    --dashed-red-border: 3px dashed var(--red-color);
    --dashed-primary-border: 3px dashed #003058;
    --blur-transition: color .3s linear;
    --primary-blur-color: var(--primary-color) !important;
    --secondary-blur-color: var(--secondary-color) !important;
    --primary-font-family:'Arizonia', cursive;
    --secondary-font-family:'Roboto Serif', serif;
    --teritary-font-family:'Roboto Serif', serif;
}



* {
    /* font-family: 'Prompt', sans-serif !important; */
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    position: relative
}

input:focus, button:focus {
    outline: none;
}

a:-webkit-any-link {
    color: none;
    text-decoration: none !important;
}

a {
    color: none;
    text-decoration: none !important;
}

a:hover {
    color: none;
    text-decoration: none !important;
}

.modal-height {
    height: 400px;
}

.modal-width {
    width: 400px !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.secondary-color {
    color: var(--secondary-color) !important;
}

.white-color {
    color: #ffffff !important;
}

.grey-color {
    color: #9b9b9b !important;
}

.bold-grey-color {
    color: #777777 !important;
}

.red-color {
    color: #c90927 !important;
}

.body-bg-color {
    background-color: #f8f9fa !important;
}

.element-bg-color {
    background-color: var(--white-color) !important;
}

.background-color {
    background-color: var(--background-color) !important;
}
.primary-bg-color {
    background-color: var(--primary-color) !important;;
}

.secondary-bg-color {
    background-color: var(--secondary-color) !important;
}

.no-background {
    background: none !important;
}

.shadow {
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,.15);
}

.no-border {
    border: none !important;
}

.red-border {
    border: 2px solid #c90927!important;
}

.no-background {
    background: none !important;
}

.slight-border {
    border: 1px solid #ced4da;
}

.dashed-primary-border {
    border: 3px dashed #003058;
}

.dashed-red-border {
    border: 3px dashed #c90927;
}

.fit-height {
    height: fit-content !important;
}


.custom-range::-webkit-slider-thumb {
    background-color: #003058;
}

sub, sup {
    font-size: .625rem;
    line-height: 0;
    position: relative;
    vertical-align: initial;
}

sup {
    top: -0.5em;
}

.fw-500 {
    font-weight: 500 !important;
}

.liner {
    height: 5px;
    background-color: #ffd716;
}

.liner-bg {
    height: 5px;
    background-color: #003058;
}

.feedback-transition {
    transition: height 200ms;
}

.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}

.primary-blur {
    transition: color .3s linear;
}

.primary-blur:hover {
    color: var(--primary-color) !important;
}

.primary-bg-blur {
    transition: background-color .3s linear;
}

.primary-bg-blur:hover {
    color: var(--white-color) !important;
    background-color: var(--primary-color) !important;
}

.secondary-blur {
    transition: color .3s linear;
}

.secondary-blur:hover {
    color: var(--secondary-color) !important;
}

.secondary-bg-blur {
    transition: background-color .3s linear;
}

.secondary-bg-blur:hover {
    background-color: var(--secondary-color) !important;
}

.dropdown-item.active {
    background-color: var(--primary-color) !important;
}

.dropdown-item:focus {
    background-color: var(--primary-color) !important;
}

.disabled {
    pointer-events: none !important;
}

.not-allowed {
    cursor: not-allowed !important;
}

.word-break-all {
    word-break: break-all;
}

.word-break-word {
    word-break: break-word;
}

.pointer-cursor {
    cursor: pointer
}

.full-width {
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.default-height {
    height: 100vh
}