.signup {
    min-height: 100vh;
    position: relative;
}

.background {
    z-index: 1;
    position: absolute;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url("../../../../../public/jpg/login-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foreground {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 17%
}
.signup-container {
    height: 75%;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.signup-label {
    font-size: 3.5rem;
    font-family: var(--secondary-font-family);
}

.signup-sub-label {
    color: var(--teritary-color) !important;
    font-family: var(--teritary-font-family);
}

.button{
    font-family: var(--secondary-font-family) !important;
    background: var(--primary-color);
    color:var(--secondary-color) !important;
    height:50px !important;
    font-size: 20px;
}