.login {
    min-height: 100vh;
    position: relative;
}

.background {
    z-index: 1;
    position: absolute;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    background:url("../../../../../public/jpg/login-background.jpg");
    background-position: center;
    background-size: cover;
}

.foreground {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 17%
}
.login-container {
    height: 75%;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.login-label {
    font-size: 3.5rem
}

.login-sub-label {
    color: var(--black-color);
}

.title-login{
    font-family: var(--secondary-font-family);
}

.p-title{
    font-family: var(--teritary-font-family);
}

.button-login{
    font-family: var(--secondary-font-family);
    background: var(--primary-color);
    color:var(--secondary-color) !important;
    height:50px !important;
    font-size: 20px;
}

.button-signup{
    font-family: var(--secondary-font-family);
    background: var(--primary-color);
    color:var(--secondary-color) !important;
    height:50px !important;
    font-size: 20px;
}

